* {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #f26a2e;
  --secondary-color: #f7f7f7;
  --tertiary-color: #333;
  --quaternary-color: #666;
  --navbar-color: #ffffff;
  --text-color: #000000;
}

.navbar {
  background-color: var(--navbar-color);
  color: var(--text-color);
  font-weight: bold;
}

.nav-link {
  color: var(--text-color);
  margin-left: 10px;
  margin-right: 10px;
}

.bg-image {
  background-image: url("./assets/bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 95vh;
}

.bg-image .container h1 {
  color: var(--navbar-color);
  align-content: center;
}

#section2{
  text-align: center;
  margin-top: 50px;
}